<header class = "top clearfix">
   C-Campas
  <div class = "search">
    <%= form_tag("/search", method: :get) do %>
    <input class="search__query" name="keyword" placeholder="授業名で検索" type="text" value="">
    <button class="btn-search" title="検索" type="submit"><i class="icon-search">検索</i></button>
    <% end %>
  </div>

</header>
  <a href ="/">ランキングに戻る</a></div>
 <a href ="/">授業を検索する</a>

<div class ="main1 clearfix">
  <div class ="title1">
    <h3>科目名 : <%= @product.title %></h3>
  </div>
  <div class ="professer">
    <h3>担当教員 : <%= @product.professer %></h3>
  </div>
<!-- <form action="entry/<%= @product_id %>" method="post"> -->
  <%= form_tag("/entry/#{@product.id}", :method => :post) do %>
   <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2>エラーが発生しました。</h2>
      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class = "info clearfix">

<!--       <div class ="info clearfix"> -->
        <label class = "easy_1" style="margin-right: 8px">
          <strong>楽単度</strong>
        </label>

        <input class="search__query1" name="easy" placeholder="楽単度" style="text-align: right" type="number" max="5" min="1" value="1"> (5段階評価でお選びください)


      <label class="right_search"style="margin-right: 8px">
        <strong>面白さ</strong>
      </label>


      <input class="search__query2 " name="fun" placeholder="面白さ" style="text-align: right" type="number" max="5" min="1" value="1"> (5段階評価でお選びください)


    </div>

    <div class ="detail">
      <div class ="report">レポートの有無
        <input type="radio" name="report" value="1">有
        <input type="radio" name="report" value="0">無
      </div>
      <div class = "attendence clearfix">出欠の有無
        <input type="radio" name="attendence" value="1">毎回取る
        <input type="radio" name="attendence" value="0">取らない
      </div>
      <div class = "test">テストの有無
        <input type="radio" name="test" value="1">有
        <input type="radio" name="test" value="0">無 
      </div>
    </div>
    <input type="hidden" name="product_id" value="<%= @product.id %>">
    <textarea class="textbox1" placeholder="ここからお書きください" name="review"></textarea>
    <input class = "send"type="submit" value="送信する">
<!-- </form> -->
  <% end %>
</div>

  <footer>
  </footer>