<header class = "top clearfix">
   C-Campas
  <div class = "search">
    <%= form_tag("/search", method: :get) do %>
    <input class="search__query" name="keyword" placeholder="授業名で検索" type="text" value="">
    <button class="btn-search" title="検索" type="submit"><i class="icon-search">検索</i></button>
    <% end %>
  </div>
</header>

<style>
  
strong {font-size: 18px;}

</style>
 <a href ="/">ランキングに戻る</a></div>
 <a href ="/">他のキーワードで検索する</a>

<% if @products.blank? %>
<h3>"<%= params[:keyword] %>"の検索結果はありません</h3>
<% else %> 

<div class ="main">
<div class = "list">
<h3>"<%= params[:keyword] %>"の検索結果</h3>
<% @products.each do |product| %>
  <ul>
    <li><h3><a href= "/products/<%= product.id %>"><span><%= product.title %>  <strong><%= product.professer %>先生</strong></li></span>
  </ul>
  <% end %>
  </div>
  <div class ="kaminari">
   <%= paginate @products %>
  </div>
</div>

<% end %>
