<header　class="fixed">

  </div>
</header>

<style>
  
strong {font-size: 18px;}

</style>

<div class ="main">
<div class = "list">
<h3>"<%= params[:keyword] %>"の検索結果</h3>
<% @products.each do |product| %>
  <ul>
    <li><h3><a href= "/products/<%= product.id %>"><span><%= product.title %>  <strong><%= product.professer %>先生</strong></li></span>
  </ul>
  <% end %>
  </div>
  <div class ="kaminari">
   <%= paginate @products %>
  </div>
</div>
