<header　class="fixed">

  </div>
</header>

<div class ="main">
<div class = "list">
<h3>"<%= params[:keyword] %>"の検索結果</h3>
<% @products.each do |product| %>
  <ul>
    <li><h3><a href= "/products/<%= product.id %>"><span><%= product.title %> 教員: <%= product.professer %></h3></li></span>
  </ul>
  <% end %>
  </div>
  <div class ="kaminari">
   <%= paginate @products %>
  </div>
</div>
