<header>
 <div class = "C-Camp"><a href ="/">C-Campas</a>
   <div class = "to_detail clearfix">
   <a href = "<%= @product.url %>">授業詳細を見る</a>
   </div>
   <div class = "write_review">
   <a style = "float:right" href = "/entry/<%= @product.id %>">授業評価を書く</a>
   </div>
 </div>
 <a href ="/">ランキングに戻る</a></div>
 <a href ="/">授業を検索する</a>
</header>


    <% @products.each do |product| %>
  <ul>
    <li><h3><a href= "/products/<%= product.id %>"><span><%= product.title %></h3></li></span>
  </ul>
  <% end %>
  </div>
  <div class ="kaminari">
   <%= paginate @products %>
  </div>
</div>
