<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Bootstrap 101 Template</title>

    <!-- Bootstrap -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href ="/assets/css/reset.css" rel ="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
<div class ="header">
  <strong id ="fun">充実度ランキング</strong>　　<strong id ="easy">楽単度ランキング</strong>　　<a href ="/"><strong id ="index">注目授業ランキング</strong></a>　　<a href ="/pre_search"><strong id ="search">授業を検索</strong></a>　　<a href ="/pre_search_review"><strong id ="review">授業評価を見る</strong></a>　　<a href ="/pre_search_entry"><strong id ="write">授業評価を書く</strong></a>　<% if user_signed_in? %> <a href ="/users/sign_out"><strong id ="logout">ログアウト</strong></a> <% else %> <a href ="/users/sign_up"><strong id ="sign_up">新規登録</strong></a>　　<a href ="/users/sign_in"><strong id ="sign_in">ログイン</strong>
  <% end %>
  </div> 

<style>
  .review_all {margin:0 0 0 0;}
  .review_all {color: black;}
  .each_review {border-bottom: 3px ridge #CD853F;}
  #words {color: yellowgreen;}
body {margin: 0 auto;}
body {text-align: center;}
.header strong{color: white;}
.header strong{font-size: 18px;}
.header strong{display: inline-table;}
.header {padding-top: 25px;}
.header {background-color: yellowgreen;}
.header {height:50px;}


#kkk {color: black;}
#color {color: orange;}
#here {margin: 0 auto;}
#here {background-color: blue;}
#here {color: white;}
#here {width: 350px;}
.nickname {background-color: yellow;}
.nickname {color: red;}
.top {margin: 0 auto;}
.top img {margin-top: 1.5px;}
#exeption img {position: absolute;}
.top img {margin-left: 13px;}
#width {width: 200px;}

#down {margin-top:17px;}
#below {font-size: 25px;}


img {margin-top: 16px;}

.comment {width: 40%;}
.comment {margin: 0 auto;}


#size {line-height: 40px;}

#size {border-bottom: 3px solid orange}


.user {width: 80%;}
.user {margin: 0 auto;}

</style>
<div class = "main">
  <dt>
  <% if @reviews.blank? %>
 <p> <div class ="a">まだレビューがありません

<a href ="/entry/<%= @product.id %>">この授業の最初の評価を書く</a></p>

  </div>
  <% else %>
<% if @input_easy == 1 %>
<strong id ="below">平均楽単度 : </strong>
<img src ="http://free-illustrations-ls01.gatag.net/images/lgi01a201310241900.jpg" width="25px"> 
<img src ="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcRuLfNhmNUd-uE8tlKQnJah9k2xhFZfCjsPcSDM7B45b28R_nlhpp-68Q" width="24px">
<img src ="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcRuLfNhmNUd-uE8tlKQnJah9k2xhFZfCjsPcSDM7B45b28R_nlhpp-68Q" width="24px">
<img src ="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcRuLfNhmNUd-uE8tlKQnJah9k2xhFZfCjsPcSDM7B45b28R_nlhpp-68Q" width="24px">
<img src ="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcRuLfNhmNUd-uE8tlKQnJah9k2xhFZfCjsPcSDM7B45b28R_nlhpp-68Q" width="24px"><% end %>

<% if @input_easy == 2 %>
<strong id ="below">平均楽単度 : </strong>
<img src ="http://free-illustrations-ls01.gatag.net/images/lgi01a201310241900.jpg" width="25px"> 
<img src ="http://free-illustrations-ls01.gatag.net/images/lgi01a201310241900.jpg" width="25px"> 
<img src ="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcRuLfNhmNUd-uE8tlKQnJah9k2xhFZfCjsPcSDM7B45b28R_nlhpp-68Q" width="24px">
<img src ="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcRuLfNhmNUd-uE8tlKQnJah9k2xhFZfCjsPcSDM7B45b28R_nlhpp-68Q" width="24px">
<img src ="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcRuLfNhmNUd-uE8tlKQnJah9k2xhFZfCjsPcSDM7B45b28R_nlhpp-68Q" width="24px"><% end %>

<% if @input_easy == 3 %> 
<strong id ="below">平均楽単度 : </strong>
<img src ="http://free-illustrations-ls01.gatag.net/images/lgi01a201310241900.jpg" width="25px"> 
<img src ="http://free-illustrations-ls01.gatag.net/images/lgi01a201310241900.jpg" width="25px"> 
<img src ="http://free-illustrations-ls01.gatag.net/images/lgi01a201310241900.jpg" width="25px"> 
<img src ="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcRuLfNhmNUd-uE8tlKQnJah9k2xhFZfCjsPcSDM7B45b28R_nlhpp-68Q" width="24px">
<img src ="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcRuLfNhmNUd-uE8tlKQnJah9k2xhFZfCjsPcSDM7B45b28R_nlhpp-68Q" width="24px"><% end %>


<% if @input_easy == 4 %> 
<strong id ="below">平均楽単度 : </strong>
<img src ="http://free-illustrations-ls01.gatag.net/images/lgi01a201310241900.jpg" width="25px"> 
<img src ="http://free-illustrations-ls01.gatag.net/images/lgi01a201310241900.jpg" width="25px"> 
<img src ="http://free-illustrations-ls01.gatag.net/images/lgi01a201310241900.jpg" width="25px"> 
<img src ="http://free-illustrations-ls01.gatag.net/images/lgi01a201310241900.jpg" width="25px"> 
<img src ="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcRuLfNhmNUd-uE8tlKQnJah9k2xhFZfCjsPcSDM7B45b28R_nlhpp-68Q" width="24px"><% end %>

<% if @input_easy == 5 %> 
<strong id ="below">平均楽単度 : </strong>
<img src ="http://free-illustrations-ls01.gatag.net/images/lgi01a201310241900.jpg" width="25px"> 
<img src ="http://free-illustrations-ls01.gatag.net/images/lgi01a201310241900.jpg" width="25px"> 
<img src ="http://free-illustrations-ls01.gatag.net/images/lgi01a201310241900.jpg" width="25px"> 
<img src ="http://free-illustrations-ls01.gatag.net/images/lgi01a201310241900.jpg" width="25px"> 
<img src ="http://free-illustrations-ls01.gatag.net/images/lgi01a201310241900.jpg" width="25px"> 
<% end %>

<% if @input_fun == 1 %>
<div class -"left"><strong id ="below">平均充実度 : </strong>
<img src ="http://free-illustrations-ls01.gatag.net/images/lgi01a201310241900.jpg" width="25px"> 
<img src ="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcRuLfNhmNUd-uE8tlKQnJah9k2xhFZfCjsPcSDM7B45b28R_nlhpp-68Q" width="24px">
<img src ="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcRuLfNhmNUd-uE8tlKQnJah9k2xhFZfCjsPcSDM7B45b28R_nlhpp-68Q" width="24px">
<img src ="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcRuLfNhmNUd-uE8tlKQnJah9k2xhFZfCjsPcSDM7B45b28R_nlhpp-68Q" width="24px">
<img src ="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcRuLfNhmNUd-uE8tlKQnJah9k2xhFZfCjsPcSDM7B45b28R_nlhpp-68Q" width="24px"><% end %>


<% if @input_fun == 2 %>
<div id -"left">
<strong id ="below">平均充実度 : </strong>
<img src ="http://free-illustrations-ls01.gatag.net/images/lgi01a201310241900.jpg" width="25px"> 
<img src ="http://free-illustrations-ls01.gatag.net/images/lgi01a201310241900.jpg" width="25px"> 
<img src ="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcRuLfNhmNUd-uE8tlKQnJah9k2xhFZfCjsPcSDM7B45b28R_nlhpp-68Q" width="24px">
<img src ="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcRuLfNhmNUd-uE8tlKQnJah9k2xhFZfCjsPcSDM7B45b28R_nlhpp-68Q" width="24px">
<img src ="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcRuLfNhmNUd-uE8tlKQnJah9k2xhFZfCjsPcSDM7B45b28R_nlhpp-68Q" width="24px"><% end %>

<% if @input_fun == 4 %> 
<div id -"left">
<strong id ="below">平均充実度 : </strong>
<img src ="http://free-illustrations-ls01.gatag.net/images/lgi01a201310241900.jpg" width="25px"> 
<img src ="http://free-illustrations-ls01.gatag.net/images/lgi01a201310241900.jpg" width="25px"> 
<img src ="http://free-illustrations-ls01.gatag.net/images/lgi01a201310241900.jpg" width="25px"> 
<img src ="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcRuLfNhmNUd-uE8tlKQnJah9k2xhFZfCjsPcSDM7B45b28R_nlhpp-68Q" width="24px">
<img src ="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcRuLfNhmNUd-uE8tlKQnJah9k2xhFZfCjsPcSDM7B45b28R_nlhpp-68Q" width="24px"><% end %>


<% if @input_fun == 4 %> 
<div id  = "left">
<strong id ="below">平均充実度 : </strong>
<img src ="http://free-illustrations-ls01.gatag.net/images/lgi01a201310241900.jpg" width="25px"> 
<img src ="http://free-illustrations-ls01.gatag.net/images/lgi01a201310241900.jpg" width="25px"> 
<img src ="http://free-illustrations-ls01.gatag.net/images/lgi01a201310241900.jpg" width="25px"> 
<img src ="http://free-illustrations-ls01.gatag.net/images/lgi01a201310241900.jpg" width="25px"> 
<img src ="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcRuLfNhmNUd-uE8tlKQnJah9k2xhFZfCjsPcSDM7B45b28R_nlhpp-68Q" width="24px"><% end %>

<% if @input_fun == 5 %> 
<div id ="left">
<strong id ="below">平均充実度 : </strong>
<img src ="http://free-illustrations-ls01.gatag.net/images/lgi01a201310241900.jpg" width="25px"> 
<img src ="http://free-illustrations-ls01.gatag.net/images/lgi01a201310241900.jpg" width="25px"> 
<img src ="http://free-illustrations-ls01.gatag.net/images/lgi01a201310241900.jpg" width="25px"> 
<img src ="http://free-illustrations-ls01.gatag.net/images/lgi01a201310241900.jpg" width="25px"> 
<img src ="http://free-illustrations-ls01.gatag.net/images/lgi01a201310241900.jpg" width="25px"> 

<% end %>




<h1 id ="size"><a href ="/entry/<%= @product.id %>"><div id ="here">この授業の評価を書く</div></a>　</h1></div>
   <% @reviews.each do |review| %>

    <div class = "title" id ="title"><dl><h3> <span style="color: red;">授業名 : <%= @product.title %></dl></h3></span>
    </div>
    <div class = "professer"><dl><a href ="/list"><h3>担当教員 : <%= @product.professer %></dl></h3></a>
    </div>
  </dt>
  <div class = "rate">
    楽単度: 
    <% if review.easy == 1 %><span id ="up">⭐ ☆ ☆ ☆ ☆</span>️<% end %>
    <% if review.easy == 2 %> <span id ="up">⭐️ ⭐ ☆ ☆ ☆</span><% end %>
    <% if review.easy == 3 %> <span id ="up">⭐️ ⭐ ⭐</span>️️ ☆ ☆<% end %>
    <% if review.easy == 4 %> <span id ="up">⭐️ ⭐ ⭐ ⭐</span>️️️ ☆<% end %>
    <% if review.easy == 5 %><span id ="up">⭐️ ⭐ ⭐ ⭐️️️ ⭐</span>️<% end %>
   
    <div class = "fun clearfix">
    面白さ: 
     <% if review.fun == 1 %><span id ="up">⭐</span>️ ☆ ☆ ☆ ☆<% end %>
    <% if review.fun == 2 %><span id ="up">⭐️ ⭐</span>️ ☆ ☆ ☆<% end %>
    <% if review.fun == 3 %><span id ="up">⭐️ ⭐️ ⭐</span>️ ☆ ☆<% end %>
    <% if review.fun == 4 %><span id ="up">⭐️ ⭐️ ⭐ ⭐️</span>️ ☆<% end %>
     <% if review.fun == 5 %><span id ="up">⭐️ ⭐️ ⭐ ⭐️ ⭐️</span>️<% end %>
    </div>
  </div>
  <div class = "info clearfix">
    <div class  = "report">レポート : <%= @report %>
    </div>
    <div class = "attendence">出欠 : <%= @atd %>
    </div>
    <div class = "test">テスト : <%= @test %>
    </div>

  <div class = "review_all" style>
  <% if @reviews.length == 12 %>
    <div class = "each_review">
    </div>
  <% else %>
      <div class = "each_review">
     <div class = "comment">  <strong id ="color">コメント</strong> : <%= review.review %></div>
<div class ="nickname"> <div class ="user">by　<%= review.user.depart %>　<%= review.user.nickname %>さん</div></div>
      </div>
 


    <% end %>
    <% end %>

  <% end %>
  </div>
</div>

<% else %>


</body>


</html>

<script>

$(function(){

  $('#review').hover(function(){
    $(this).css({
      'color' : 'pink',
      'border-bottom' : '2px ridge orange'
    });

    }, function(){
    $(this).css({
      'color': 'white',
      'border-bottom' : 'none'
    });
  });


    $('#fun').hover(function(){
    $(this).css({
      'color' : 'pink',
      'border-bottom' : '2px ridge orange'
    });

    }, function(){
    $(this).css({
      'color': 'white',
      'border-bottom' : 'none'
    });
  });

    $('#review').hover(function(){
    $(this).css({
      'color' : 'pink',
      'border-bottom' : '2px ridge orange'
    });

    }, function(){
    $(this).css({
      'color': 'white',
      'border-bottom' : 'none'
    });
  });


    $('#write').hover(function(){
    $(this).css({
      'color' : 'pink',
      'border-bottom' : '2px ridge orange'
    });

    }, function(){
    $(this).css({
      'color': 'white',
      'border-bottom' : 'none'
    });
  });

    $('#logout').hover(function(){
    $(this).css({
      'color' : 'pink',
      'border-bottom' : '2px ridge orange'
    });

    }, function(){
    $(this).css({
      'color': 'white',
      'border-bottom' : 'none'
    });
  });

     $('#sign_up').hover(function(){
    $(this).css({
      'color' : 'pink',
      'border-bottom' : '2px ridge orange'
    });

    }, function(){
    $(this).css({
      'color': 'white',
      'border-bottom' : 'none'
    });
  });

          $('#sign_in').hover(function(){
    $(this).css({
      'color' : 'pink',
      'border-bottom' : '2px ridge orange'
    });

    }, function(){
    $(this).css({
      'color': 'white',
      'border-bottom' : 'none'
    });
  });

               $('#easy').hover(function(){
    $(this).css({
      'color' : 'pink',
      'border-bottom' : '2px ridge orange'
    });

    }, function(){
    $(this).css({
      'color': 'white',
      'border-bottom' : 'none'
    });
  });

                    $('#search').hover(function(){
    $(this).css({
      'color' : 'pink',
      'border-bottom' : '2px ridge orange'
    });

    }, function(){
    $(this).css({
      'color': 'white',
      'border-bottom' : 'none'
    });
  });


                    $('#index').hover(function(){
    $(this).css({
      'color' : 'pink',
      'border-bottom' : '2px ridge orange'
    });

    }, function(){
    $(this).css({
      'color': 'white',
      'border-bottom' : 'none'
    });
  });



                  });


</script>

