<!DOCTYPE html>
<html>
<head>
  <title>ClassReview</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<style>

.alert {color: red;}
.alert {font-size: 25px;}



</style>


<body>
<%= yield %>
<h5 class="alert" style="color:red; padding-bottom:230px;"><%= alert %></h5>




</body>
</html>
